<!DOCTYPE html>
<htmlxmlns:th="http://www.thymeleaf.org"><head><metacharset="UTF-8"/><title>Loda To-do</title><metahttp-equiv="Content-Type"content="text/html; charset=UTF-8"/><!--css-->
  <linkth:href="@{/css/bootstrap.css}"rel="stylesheet"/><linkth:href="@{/css/main.css}"rel="stylesheet"/><!--js-->
  <scriptth:src="@{/js/bootstrap.js}"></script></head><body><h1>Todo App</h1><ath:href="@{/listTodo}"class="btn btn-primary">Xem danh sách</a><ath:href="@{/addTodo}"class="btn btn-success">+ Thêm công việc</a></body></html>